* {
    box-sizing: border-box;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 25px;
}
h1{
  padding-top: 30px;
  padding-bottom: 10px;
  font-size: 175%;
}
header h1 {
    padding-top: 0px;
    font-family: Brushstroke, fantasy;
    color: #FFFFFF;
    font-size: 200%;
    padding-bottom: 0px;
}
.m{
  background-color: #b3e9dd;
}

body {
    background-color:   #fffffe;
}
.col-md-12{
  width: 100%;
}


section{  
  align-content: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 90%;
  padding:0px 10px 10px 10px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  color: black;
}

.aa{
  text-align: center;
  font-size: 125%;
  padding-bottom: 5px;

  
}
.aa:hover{
  font-size: 150%;
}
#s1{
  background-color: #ffe03b;
}
#s2{
  background-color: #fac0b3;
}
#s3{
  background-color: #aaaaaa;
}