*{
	box-sizing: content-box;
	background-color: #bbab9b;
	font-family: "Lucida Console", Courier, monospace;
	font-size: 25px;
}
h1{
	text-align: center;
	margin-bottom: 40px;
	font-size: 175%;
}

h3{
	float: right;
}
p{	
	align-content: center;
	border: 1px solid black;
	background-color:#96ceb4;
	width: 90%;
	padding: 0px 0px 5px 5px;
	height: auto;
	margin-right: auto;
  	margin-left: auto;
  	color: black;
}

.aa{
	border: 1px solid black;
	font-size: 125%;
	padding: 5px 10px 5px 10px;
	float: right;
}

.a1{
	background-color:#f2ae72;
}
.a2{
	background-color:#d96459;
}
.a3{
	background-color:#ff6f69;
}
.row{
	width=100%;
}
@media (min-width: 992px) {
  .col-lg-1 ,.col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;

  }
 
  .col-lg-4 {
    width: 33.33%;
  }
  
}


/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 992px) {
  .col-md-1,.col-sp , .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  
  .col-md-6 {
    width: 50%;
  }
  .col-sp{
  	width:100%;

  }
  .special{
  	width:95%;
  }
  
}